* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 28%, 15%);
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between; /* moves the ul element to the extreem right and the logo the extreem left. */
  align-items: center; /* This centered the links horizontally leaving little space at the top. */
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.logo img {
  width: 80px; /* Image height will be set automatically */
}
.links {
}
.links ul {
  list-style-type: none;
  /* margin: 0; */
}
.links ul li {
  display: inline;
  padding: 8px;
}
.links ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
  /* END STYLE FOR NAVIGATION BAR */

  /* START HERO SECTION STYLING */
.hero-section {
   
}
.illustration-container img{
 max-width: 80%;
 margin-left: 40px;
}

.hero-content h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  width: 300px;

  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
}
 .hero-content p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
  opacity: 0.7;
  width: 290px;
  text-align: center;
  margin: auto;
} 
.hero-btn{
    background-image: linear-gradient( to right , hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: none; 
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  padding-top: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 15px;
  /* since btn is an inline element, make it desplay as block so that margin auto can work. */
display: block;
margin: auto;
margin: 30px auto;
}
/* END HERO-SECTION STYLING */

/* OFFER SECTION STARTS */
/* ACCESS STYLE */
.access{
max-width: 350px;
/* margin: 0 auto; margin top 0, left and right auto  */
padding: 60px 40;
}
.access img{
  max-width: 60px;
  display: block;
  margin: 0 auto;
}
.access h2{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
  margin: 20px 0 0 0;
}
.access p{
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.8;
  margin: 10px 0 0 0;
  text-align: center;
}
/* END ACCESS */

/* SECURITY */
.security{
  max-width: 350px;
  /* margin: 0 auto; margin top 0, left and right auto  */
  padding: 60px 40;
  }
  .security img{
    max-width: 60px;
    display: block;
    margin: 0 auto;
  }
  .security h2{
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 20px 0 0 0;
  }
  .security p{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
    margin: 10px 0 0 0;
    text-align: center;
  }
  /* END SECURITY STYLE */

  /* START COLLABORATION */
  .collaborate{
    max-width: 350px;
    /* margin: 0 auto; margin top 0, left and right auto  */
    padding: 60px 40;
    }
    .collaborate img{
      max-width: 60px;
      display: block;
      margin: 0 auto;
    }
    .collaborate h2{
      color: hsl(0, 0%, 100%);
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      text-align: center;
      font-weight: 700;
      margin: 20px 0 0 0;
    }
    .collaborate p{
      color: hsl(0, 0%, 100%);
      font-size: 14px;
      line-height: 1.5;
      opacity: 0.8;
      margin: 10px 0 0 0;
      text-align: center;
    
    }
  /* END COLLABORATION */

  /* START STORE STYLE */
  .store{
    max-width: 350px;
    /* margin: 0 auto; margin top 0, left and right auto  */
    padding: 60px 40;
    }
    .store img{
      max-width: 60px;
      display: block;
      margin: 0 auto;
    }
    .store h2{
      color: hsl(0, 0%, 100%);
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      text-align: center;
      font-weight: 700;
      margin: 20px 0 0 0;
    }
    .store p{
      color: hsl(0, 0%, 100%);
      font-size: 14px;
      line-height: 1.5;
      opacity: 0.8;
      margin: 10px 0 0 0;
      text-align: center;
    }
  /* END STORE STYLE */

  /****** OFFER SECTION ENDS *****/





/* OFFER SECTION ENDS */

/*  */
/*  */